@import '../utils/constants.scss';

.Banner {
  background-attachment: fixed;
  background-repeat: no-repeat;
  // background-position: 10% 20%;
  background-size: auto;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height;
  position: relative;
  display: flex;
  flex-direction: column;

  @include md {
    background-size: cover;
    flex-direction: row;
  }

  .Mask {
    background-color: #0c1021;
    opacity: 0.5;
    height: 50%;
    width: 100%;

    @include md {
      height: 100%;
      width: 50%;
    }
  }

  .TitleBlock {
    align-items: center;
    background-color: #0c1021;
    color: white;
    display: flex;
    height: 50%;
    padding: 1rem;
    width: 100%;

    @include md {
      height: 100%;
      width: 50%;
    }

    .Title {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;

      &--Big {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 1rem;

        @include md {
          font-size: 6rem;
        }
      }

      &--Small {
        font-size: 1.7rem;
        line-height: 1;

        @include sm {
          font-size: 2rem;
        }

        @include md {
          line-height: 2;
        }
      }
    }
  }
}
