@import '../utils/constants.scss';

.Contact {
  margin: auto;

  @include xl {
    width: 80%;
  }

  .Block {
    border-bottom: 1px solid $console-yellow-light;
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 0;

    @include md {
      flex-direction: row;
    }

    &:first-of-type {
      padding-top: 3rem;
    }

    section {
      display: flex;
      flex-flow: column;
      margin-bottom: 2rem;
      width: 100%;

      @include md {
        padding-right: 2rem;
        width: 50%;
      }

      &.Mail {
        a {
          color: $console-yellow-light;

          &:hover {
            color: $console-yellow;
            text-decoration: underline;
          }
        }
      }

      &.Work {
        transition: .2s linear;

        h4 {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          letter-spacing: 4px;
          margin-top: 2.5rem;

          svg {
            font-size: 2rem;
            margin-right: 10px;
          }
        }

        ul {
          margin-bottom: 0;
          padding-left: 1rem;
        }

        &:hover {
          h4 > span {
            position: relative;

            &:after {
              bottom: -6px;
              background: $console-yellow-light;
              content: '';
              height: 3px;
              left: 0;
              position: absolute;
              width: 100%;
            }
          }
        }
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .ShortInfo {
    border-left: 5px solid $console-yellow-light;
    padding-left: 1.5rem;

    > p {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-top: 2rem;
      }
    }
  }
}
