@import '../utils/constants.scss';


.Footer {
  background-color: $console-bg;
  color: white;
  display: flex;
  flex-wrap: wrap;

  section {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 0 3rem;
    width: 100%;

    @include md {
      width: 60%;
    }

    &.Social {
      border-right: 1px solid dimgray;
      font-size: 2rem;
      text-align: right;

      @include md {
        width: 40%;
      }
    }

    &.Navigation {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      > * {
        box-shadow: none;
        color: white;
        font-family: 'Roboto Mono';
        letter-spacing: $navigation-letter-spacing;
        position: relative;
        text-decoration: none;
        transition: .15s linear;

        @extend %Navigation-Link;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .Icons {
    display: flex;
    justify-content: flex-end;

    .SocialIcon {
      align-items: center;
      box-shadow: none;
      color: white;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 5px;
      transition: .15s linear;
      width: 50px;

      &:hover {
        color: $console-yellow;
        transform: scale(1.2);
      }
    }
  }

  .Last {
    background-color: $console-bg-dark;
    font-family: 'Major Mono Display';
    font-size: .7rem;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: lowercase;
    width: 100%;

    @include md {
      font-size: .9rem;
    }
  }
}
