@import '../utils/constants.scss';

.Header {
  align-items: center;
  background-color: $console-bg;
  color: white;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  @include md {
    padding-right: 2rem;
  }
}

.Logo {
  font-size: 1.5rem;

  &:hover {
    color: $console-yellow-light;
  }

  @include sm {
    font-size: 1.8rem;
  }

  @include lg {
    font-size: 2rem;
  }
}

.Link {
  box-shadow: none;
  color: white;
  margin: 0;
  text-decoration: none;
}

.Menu {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;

  .Link {
    align-items: center;
    border-color: transparent;
    display: none;
    font-family: 'Roboto Mono';
    height: 80%;
    letter-spacing: 4px;
    padding: 0 1rem;
    position: relative;
    text-transform: uppercase;
    transition: .15s linear;

    @include md {
      display: flex;
    }

    @extend %Navigation-Link;

    &.MenuOpener {
      display: flex;
      font-size: 2rem;
      color: $console-yellow-light;

      @include md {
        display: none;
      }
    }
  }
}

.FullMenu {
  align-items: center;
  background-color: $console-bg;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  opacity: .95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  > * {
    font-family: 'Roboto Mono';
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 50%;

    &:not(:last-of-type) {
      border-bottom: 1px solid white;
    }

    &.Selected {
      color: $console-yellow-light;
      text-decoration: line-through;
    }
  }
}
