@import '../utils/constants.scss';

.Header {
  align-items: center;
  background-color: #0c1021;
  color: white;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.Logo {
  font-size: 1.5rem;

  &:hover {
    color: $console-yellow-light;
  }

  @include sm {
    font-size: 1.8rem;
  }

  @include md {
    font-size: 1.8rem;
  }

  @include lg {
    font-size: 2rem;
  }
}

.Link {
  box-shadow: none;
  color: white;
  margin: 0;
  text-decoration: none;
}

.Menu {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;

  .Link {
    align-items: center;
    border-color: transparent;
    display: flex;
    font-family: 'Roboto Mono';
    height: 100%;
    letter-spacing: 4px;
    padding: 0 1rem;
    text-transform: uppercase;

    &.Selected {
      color: $console-yellow-light;
      position: relative;

      &:after {
        content: '';
        background: linear-gradient(to Right, $console-yellow-light, #ff5700);
        bottom: 0;
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
