@import '../utils/constants.scss';

.Activity {
  padding-left: $function-padding-left;

  h3 {
    color: $console-yellow;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .Separator {
    line-height: 1;
    margin-top: 0;
    max-height: 1.5rem;
    overflow: hidden;
  }

  > p {
    margin: 0;
  }
}
