@import '../utils/constants.scss';


.Console {
  color: white;
  color: $console-bg;
  font-family: 'Roboto Mono';
  min-height: calc(100vh - #{$header-height} - #{$footer-height});

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono';
  }

  h1 {
    color: #00ff7f;
    color: #00c118;
    color: #001671;
    color: $console-bg;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;

    @include md {
      font-size: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    padding-bottom: 2rem;

    b {
      color: $console-yellow;
    }
  }
}

.InfoBlock {
  p {
    padding-left: $function-padding-left;

    @include md {
      padding-left: $function-padding-left-md;
    }
  }
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  padding-left: $function-padding-left;

  @include md {
    padding-left: $function-padding-left-md;
  }
}

.Companies {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: $function-padding-left;

  @include md {
    padding-left: $function-padding-left-md;
  }

  > img {
    filter: grayscale(1);
    margin-bottom: 0;
    width: 45%;

    @include lg {
      width: 25%;
    }
  }
}

section.ButtonLine {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  > *:last-child {
    margin-right: 0;
  }
}

a {
  box-shadow: none;
  text-decoration: none;
}









.Me {
  border-left: 3px solid #27c93f;
  margin-bottom: 6rem;
  padding-left: 2rem;

  h1 {
    margin-bottom: 1rem;
  }

  .Job {
    color: #575f80;
    margin: 0;
  }
}

.Marker {
  color: $marker-color;
  font-family: 'Permanent Marker';
  font-size: 1.5em;
  line-height: 1;
}

.MajorMono {
  font-family: 'Major Mono Display';
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1;
}
