@import '../utils/constants.scss';


.Skill {
  font-size: 1.3em;
  padding-right: 1rem;
  width: 100%;

  @include md {
    font-size: 1.3em;
    width: 50%;
  }

  @include lg {
    font-size: 1em;
    width: 33%;
  }

  .NoProgress {
    color: $console-bg-light;
  }

  .Progress {
    color: $console-yellow;
  }
}
