@import '../utils/constants.scss';


.Skill {
  font-size: 1.1rem;
  padding-right: 1rem;
  width: 100%;

  @include md {
    width: 50%;
  }

  @include lg {
    width: 33%;
  }

  .NoProgress {
    color: $console-bg-light;
  }

  .Progress {
    color: $console-yellow;
  }

  .Perfect {
    color: $console-yellow;

    .NoProgress {
      color: $console-yellow;
    }
  }
}
