@import '../utils/constants.scss';


.ProgressBarBlock {
  width: 30%;

  .Label {
  }

  .ProgressBar {
    background-color: grey;
    height: 30px;
    position: relative;

    &:before {
      background-color: red;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}
