@import '../utils/constants.scss';

.Layout {
  background-color: $console-bg;
  background-color: $light-bg;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Content {
  margin: $header-height auto;
  width: 80%;

  @include sm {
    width: 80%;
  }

  @include md {
    width: 75%;
  }

  @include lg {
    width: 65%;
  }
}
