$navigation-letter-spacing: 5px;

%Navigation-Link {
  &:after {
    background: $underline-gradient;
    bottom: 0;
    content: '';
    height: 2px;
    right: $navigation-letter-spacing;
    left: unset;
    position: absolute;
    transition: .2s linear;
    width: 0;
  }

  &:hover {
    color: $console-yellow-light;

    &:after {
      left: 0;
      right: unset;
      width: calc(100% - #{$navigation-letter-spacing});
    }
  }

  &.Selected {
    color: $console-yellow-light;
    text-decoration: line-through;
  }
}
