$marker-color: #fc0074;
$backround-color-primary: #feffd7;
$console-bg: #0c1021;
$console-bg-dark: #040710;
$console-bg-light: #7f8fd4;
$light-bg: #ffffff;
$console-yellow: #f89718;
$console-yellow-light: #f8be19;
