@import './colors.scss';
@import './media-queries.scss';
@import './_navigation-link.scss';


$header-height: 5rem;
$footer-height: 10rem;
$function-padding-left: 1.5rem;
$function-padding-left-md: 3rem;
