@import '../../utils/constants.scss';

a {
  border-radius: 50px;
}

.Button {
  background-color: $console-bg-light;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto Mono';
  letter-spacing: 3px;
  outline: none;
  padding: .8rem 2rem;
  text-transform: uppercase;

  &:hover {
    background-color: $console-bg;
    color: $console-yellow-light;
  }
}
