@import '../../utils/constants.scss';

.Block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  &.Right {
    justify-content: flex-end;
  }

  &.Left {
    justify-content: flex-start;
  }

  button {
    margin: 0;
  }
}
